footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  @include respond-to(xs) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 0;
    padding-left: 0;

    li {
      list-style: none;
      a {
        padding: 0 12px;
        color: $primary;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}