@import 'bourbon';
@import 'mixins';
@import 'variables';

body {
  font-family: $font;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 50px auto;
  text-align: center;
  display: table;
  @include respond-to(xs) {
    font-size: 25px;
  }

  &::before {
    @include pseudo();
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 50%;
    background: $primary;
    transition: inherit;
    z-index: -1;
  }
}


h2 {
  font-weight: 700;
  margin-bottom: 15px;
  color: $primary;
  @include respond-to(xs) {
    font-size: 25px;
  }
}

.btn-template {
  background-color: $primary;
  color: $white;
  font-weight: 700;
  border-radius: 3px;
  padding: 12px 24px;

  &.shadow {
    box-shadow: 0 16px 32px rgba(43, 43, 82, 0.24);
  }
}

.column-2-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  @include respond-to(xs) {
    grid-template-columns: 100%;
  }
}

.order-2 {
  order: 2;
  @include respond-to(xs) {
    order: unset;
  }
}

@import 'decoration';
@import 'navbar';
@import 'banner';
@import 'how-it-works';
@import 'features';
@import 'blog';
@import 'footer';