%section.home
  .banner-home
    %h1 Facilitamos el proceso de pedir cita previa en la ITV de manera rápida sin esperas, ni filas interminables.
    .scroll-down-box
      %a.scroll-down-target{ href:'#' }
        %span.fa.fa-chevron-down