%section.cta.top-bottom-line
  %span.cta-title Busca una ITV o información sobre la Inspección Técnica de Vehículos
  .cta-item
    %form.search-form.order-lg-last{ action: "#" }
      .form-group.d-flex
        %input.form-control.pl-3{ placeholder: "Busca tu ITV más cercana", type: "text" }
        %button.form-control.search{ placeholder: "", type: "submit" }
          %span.fa.fa-search