%section.features
  .column-2-grid
    .column-2-item.order-2
      .feature-item-img
        %img{src:'assets/img/576x450.jpg'}
    .column-2-item
      .feature-item
        %h2 Encuentra tu estación ITV
        %p
          Tienes a tu disposición un directorio súper completo por comunidades y provincias para que te resulte mucho más sencillo encontrar el centro itv que más te interese.
          %br
          %br
          Cada estación ITV dispone de información completa como datos de contacto, dirección y horarios de apertura y si ofrecen descuentos. Todos los datos que necesitas en una misma página para que puedas reservar fecha y hora de inspección.
          %br
          %br
          Recuerda que lo normal es que no haya que pedir cita ITV en el caso de una segunda inspección después de que la primera fuera desfavorable. Simplemente acude directamente a la línea de inspección con el último informe.
  .column-2-grid
    .column-2-item
      .feature-item-img
        %img{src:'assets/img/576x450.jpg'}
    .column-2-item
      .feature-item
        %h2 Antes de pedir hora en la ITV, lee las opiniones
        %p
          Consultas las opiniones que otros usuarios como tú han dejado en nuestra página web. Con el tiempo hemos recopilado gran cantidad de reseñas que dan información acerca del servicio de cita previa en general y del servicio prestado por la estación ITV donde pasaron la inspección de su vehículo en particular.
          %br
          %br
          Consideramos que esta información está llena de valor para que tu elección sea la más acertada.
  .column-2-grid
    .column-2-item.order-2
      .feature-item-img
        %img{src:'assets/img/576x450.jpg'}
    .column-2-item
      .feature-item
        %h2 Conoce los precios actualizados de la ITV  (2019)
        %p
          Cada año revisamos y publicamos los nuevos precios de la Inspección Técnica de Vehículos para que conozcas el coste antes de pedir cita. Además, estamos muy atentos a cualquier cambio en la normativa para prestarte información actualizada.
          %br/
          %br/
          %strong Interesantes Descuentos ITV si reservas en nuestra web
          %br/
          Si vives en Madrid o Canarias benefíciate de los descuentos exclusivos realizando tu cita previa ITV a través de nuestra web.
  .column-2-grid
    .column-2-item
      .feature-item-img
        %img{src:'assets/img/576x450.jpg'}
    .column-2-item
      .feature-item
        %h2 ¿Dudas a la hora de pasar la ITV? Contamos con soporte profesional
        %p
          Una de nuestras grandes propuestas de valor que te ofrecemos de manera totalmente gratuita es ofrecerte soporte y ayuda ante cualquier duda o problema relacionado con la Inspección técnica de vehículos. 
          %br
          %br
          Contamos con la colaboración de un supervisor profesional de ITV que analizará cada caso y te dará respuesta en un periodo de 24 – 48 horas.