%footer
  .footer-copyright © 2019 ITVcitaprevia.es, Derechos Reservados
  %nav
    %ul
      %li
        %a{href: "#"} ITV
      %li
        %a{href: "#"} FAQ's
      %li
        %a{href: "#"} Aviso Legal y Cookies