%section.how-it-works.next-section
  %h1.title Cómo funciona ITV?
  .column-2-grid
    .column-2-item
      %img.how-it-works-img{src:'assets/img/card-side-2.png'}
    .column-2-item
      .how-it-works-text
        %p Reserva tu cita  online o bien llama por teléfono a la estación ITV que más te interese por cercanía o precio.
        %p Para obtener una cita previa simplemente necesitarás unos determinados datos dependiendo de la empresa que gestione la estación de Inspección Técnica de Vehículos y el sistema de citas que utilice.
        %p Lo más habitual es la matrícula y una dirección de correo electrónico. Pero en algunos casos te requerirán un número de teléfono y como pasar en Andalucía, el número de bastidor.
        %a.btn.btn-template.shadow{ href:'#' } Pide tu Cita Previa ITV