body {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  text-decoration: none;
}

.title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 50px auto;
  text-align: center;
  display: table;
}

@media (min-width: 0px) and (max-width: 575px) {
  .title {
    font-size: 25px;
  }
}

.title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 50%;
  background: #16a1e7;
  transition: inherit;
  z-index: -1;
}

h2 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #16a1e7;
}

@media (min-width: 0px) and (max-width: 575px) {
  h2 {
    font-size: 25px;
  }
}

.btn-template {
  background-color: #16a1e7;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  padding: 12px 24px;
}

.btn-template.shadow {
  box-shadow: 0 16px 32px rgba(43, 43, 82, 0.24);
}

.column-2-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .column-2-grid {
    grid-template-columns: 100%;
  }
}

.order-2 {
  order: 2;
}

@media (min-width: 0px) and (max-width: 575px) {
  .order-2 {
    order: unset;
  }
}

.top-bottom-line {
  position: relative;
}

.top-bottom-line::before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 1px;
  background: #D9E0F0;
  top: 5px;
  left: 0;
}

.top-bottom-line::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 1px;
  background: #D9E0F0;
  left: 0;
  bottom: 5px;
}

.itv-navbar {
  background: #16a1e7;
  z-index: 3;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .itv-navbar {
    position: relative;
    top: 0;
    padding: 10px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .itv-navbar .navbar-nav {
    padding-bottom: 10px;
  }
}

.itv-navbar .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #0d1128;
  opacity: 1;
}

.itv-navbar .navbar-nav > .nav-item > .nav-link:hover {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .itv-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem;
    color: rgba(255, 255, 255, 0.7);
  }

  .itv-navbar .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
  }
}

.itv-navbar .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.itv-navbar .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.itv-navbar .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .itv-navbar .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: transparent;
  color: #000;
}

.itv-navbar .navbar-nav > .nav-item.active > a {
  color: #0d1128;
}

.itv-navbar .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.itv-navbar .navbar-toggler:focus {
  outline: none;
}

.navbar-brand {
  font-weight: 800;
  font-size: 25px;
  padding: 0;
  line-height: 1;
  color: #0d1128;
}

.search-form {
  border: 1px solid #0d1128;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 0;
}

.search-form .form-control {
  background: transparent !important;
  border: none;
  color: #0d1128 !important;
  font-size: 14px;
  width: calc(100% - 52px);
}

.search-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.search-form .form-control::-webkit-input-placeholder {
  color: #0d1128 !important;
}

.search-form .form-control::-moz-placeholder {
  color: #0d1128 !important;
}

.search-form .form-control:-ms-input-plac255h255l255er {
  color: #0d1128 !important;
}

.search-form .form-control:-moz-placeholder {
  color: #0d1128 !important;
}

.search-form .search {
  padding: 0;
  width: 52px;
}

.search-form .search span {
  font-size: 15px;
}

.banner-home {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 146px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1556745753-b2904692b3cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80");
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-home {
    padding: 0 20px;
  }
}

.banner-home h1 {
  color: #fff;
  width: 60%;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-home h1 {
    width: 100%;
    font-size: 28px;
  }
}

.scroll-down-box {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-box a {
  padding-top: 70px;
  position: relative;
}

.scroll-down-box a:focus {
  outline: none;
}

.scroll-down-box a span {
  color: #fff;
  font-size: 25px;
  animation: sdb05 1.5s infinite;
}

@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.how-it-works {
  padding: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .how-it-works {
    padding: 50px 10px;
  }
}

.how-it-works h1 {
  color: #0d1128;
  text-align: center;
  margin-bottom: 50px;
}

.how-it-works .how-it-works-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.how-it-works .how-it-works-img {
  width: 100%;
  margin-left: -50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .how-it-works .how-it-works-img {
    margin-left: -10px;
  }
}

.features {
  padding: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .features {
    padding: 50px 10px;
  }
}

.features .feature-item-img img {
  box-shadow: 0 16px 32px rgba(43, 43, 82, 0.24);
}

@media (min-width: 0px) and (max-width: 575px) {
  .features .feature-item-img img {
    height: 60vw;
  }
}

.features .feature-item, .features .feature-item-img {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 20px;
}

.cta {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .cta {
    padding: 50px 10px;
    grid-template-columns: 100%;
  }
}

.cta .cta-title {
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .cta .cta-title {
    margin-bottom: 30px;
  }
}

.cta .cta-item {
  display: flex;
  align-items: center;
}

.cta .cta-item form {
  width: 100%;
}

.blog {
  padding: 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .blog {
    padding: 50px 10px;
  }
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 275px;
  position: relative;
  display: block;
}

.blog-entry {
  width: 100%;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.09);
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px;
  font-size: 14px;
}

.blog-entry .text .heading {
  font-size: 18px;
  margin-bottom: 16px;
}

.blog-entry .text .heading a {
  color: #000;
}

.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
  color: #16a1e7;
}

.blog-entry .text .meta-chat {
  color: #b3b3b3;
}

.blog-entry .text .read {
  color: #000;
  font-size: 14px;
}

.blog-entry .meta-date {
  display: inline-block;
  background: #16a1e7;
}

.blog-entry .meta-date span {
  display: block;
  color: #fff;
}

.blog-entry .meta-date .day {
  font-weight: 700;
  font-size: 20px;
}

.blog-entry .meta-date .mos, .blog-entry .meta-date .yr {
  font-size: 13px;
}

.blog-entry .meta > div {
  display: block;
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 15px;
}

.blog-entry .meta > div a {
  color: #b3b3b3;
  font-size: 13px;
}

.blog-entry .meta > div a:hover {
  color: #cccccc;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

@media (min-width: 0px) and (max-width: 575px) {
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 0;
  padding-left: 0;
}

footer nav ul li {
  list-style: none;
}

footer nav ul li a {
  padding: 0 12px;
  color: #16a1e7;
}

footer nav ul li a:hover {
  color: #0d1128;
}
